.housing-card {
  width: 100%;
  min-height: 255px;
  border-radius: 10px;
  position: relative;
  @media screen and (min-width: 730px) {
    width: 100%;
    aspect-ratio: 1;
    max-height: 340px;
    max-width: 340px;
  }
}

.housing-card-title {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  font-weight: 500;
  font-size: 1.125rem;
}
